body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    padding: 8px;
    background: rgba(255, 0, 0, 0.8);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: "Roboto Slab", serif;
}

p {
    line-height: 1.5;
}

main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Inputs */

input,
textarea {
    height: 32px;
    padding: 0 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}

input:focus,
textarea:focus {
    outline: none;
}

/* Banner */

#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url("../../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}

/* Search Box */

#searchbox {
    position: fixed;
    right: 0;
    top: 24px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
}

#searchbox input {
    height: 48px;
    width: 100%;
}

/* Navigation */

nav {
    height: 72px;
    background: #202125;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}

nav a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.active {
    color: #f783ae;
}

#logo-img {
    display: flex;
    height: 100%;
    background: #111;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 100px;
}

#logo-img:hover {
    background: black;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}

/* Search Icon */

#search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover {
    color: red;
}

/* Slideout Menu */

#slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity:0;
    pointer-events:none;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 8px;
}

#slideout-menu a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
}

#slideout-menu input {
    width: 85%;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Sections */

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover {
    padding: 4px 48px;
    background: red;
}

/* Section Source */

#section-source p {
    padding: 8px;
    text-align: center;
}

#section-source a {
    margin: 8px;
    text-align: center;
}

/* Card */

.card-image {
    transition: 0.4s;
}

.img{
    width: 250px;
    height: 400px;
    border : solid gold 2px;
    border-radius: 6px;
}

.card-image:hover {
    box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {
    padding: 0 8px;
}

.card-meta-blogpost{
    color:#333;
    font-size:14px;
    padding: 16px;
    font-family:'Roboto Slab', serif;
}

.card-meta-blogpost a{
    color:#333;
}

/* Button Read more */

.btn-readmore {
    padding: 8px 24px;
    border: 3px solid black;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    border-radius: 6px;
}

.btn-readmore:hover {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    text-decoration: none;
    padding: 8px 64px 8px 24px;
    color: white;
    border-radius: 6px;
}

/* Footer */

footer {
    background: black;
    padding: 8px;
    color: #eee;
    display: flex;
    margin-bottom: 5px;
}

footer a {
    color: white;
}

footer #left-footer {
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
}

footer #left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer {
    flex: 2;
    padding: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github {
    color: white;
    transition: 0.4s;
}

footer #social-media-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li {
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube {
    color: red;
}

footer #social-media-footer ul li:hover a .fa-facebook {
    color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-github {
    color: #bbb;
}

/* Blog List page */

.page-heading{
    font-size:32px;
    font-family:'Roboto Condensed', sans-serif;
    border-left:3px solid black;
    border-right:3px solid black;
    transition: all 0.4s;
    display:inline-block;
    padding:4px 32px;
    margin-top: 120px;
}

.page-heading:hover{
    padding:4px 48px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card-meta{
    color:#333;
    font-size: 14px;
    padding-left:8px;
    font-family:'Roboto Slab', serif;
}

.card-meta a{
    color:#333;
}

/* Pagination */

.pagination{
    padding:8px;
    text-align:center;
    font-weight:bold;
}

.pagination a{
    border-top: 3px solid white;
    display: inline-block;
    padding:8px 16px;
    transition:0.4s;
}

.pagination a:hover{
    text-decoration: none;
    border-top:3px solid black;
}

/* Single Blogpost */

#post-container{
    display: flex;
}

#blogpost{
    display: flex;
    flex-direction:column;
    width:70%;
    border-left:1px solid #999;
}

#blogpost .card{
    width:100%;
}

#blogpost .card-image:hover{
    box-shadow: none;
}

/* Sidebar */

#sidebar{
    background:#333;
    flex:1;
    padding: 8px 16px;
    color:white;
    box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}

/* Comments section */

#comments-section{
    border-top: 2px solid #eee;
    padding:8px;
}


/* Media Queries */

@media (max-width: 900px) {
    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #slideout-menu {
        display: block;
    }

    #searchbox {
        display: none;
    }

    #blogpost{
        width:100%;
        border-left:0;
    }

    #sidebar{
        display: none;
    }
}

@media (max-width: 719px) {
    main {
        width: 95%;
    }

    section {
        flex-direction: column;
    }

    .card,
    .card .card-image img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer {
        flex: 1;
        border-right: 0;
        padding-left: 0;
    }

    footer #right-footer {
        background: #eee;
        color: black;
    }

    footer #right-footer a {
        color: black;
    }

    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-youtube,
    footer #social-media-footer a .fa-github {
        color: black;
        transition: 0.4s;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    #banner h3 {
        font-size: 20px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }
}

@media (min-width: 720px) {
    main {
        width: 95%;
    }
    .card {
        width: 45%;
    }
    .card .card-image img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    main {
        width: 85%;
    }
}